EXEC sp_rename 'dbo.[PRODUCT].PRODUCTID', 'ID', 'COLUMN';
EXEC sp_rename 'dbo.[PRODUCT].PRODUCTCODE', 'CODE', 'COLUMN';
EXEC sp_rename 'dbo.[PRODUCT].BUILTIN', 'ISBUILTIN', 'COLUMN';
EXEC sp_rename 'dbo.[PRODUCT].UNITMAINTENANCEID', 'UNITID', 'COLUMN';
EXEC sp_rename 'dbo.[PRODUCT].PRODUCTCOLOR', 'COLOR', 'COLUMN';
EXEC sp_rename 'dbo.[PRODUCT].OPENINGQTY', 'OPENINGQUANTITY', 'COLUMN';


go

ALTER PROCEDURE [dbo].[SP_GET_PRODUCT]
@ID INT = 0,
@SEARCH_VALUE NVARCHAR(50) = '' -- WE CAN IMPLEMENT IT LATER
AS
BEGIN

	SELECT P.*, U.[NAME] UNITNAME, U.SYMBOL UNITSYMBOL FROM PRODUCT P INNER JOIN UNIT U ON P.UNITID = U.ID
	WHERE P.ID = CASE WHEN @ID > 0 THEN @ID ELSE P.ID END
END
GO


ALTER PROCEDURE [dbo].[SP_PRODUCT_ADD_EDIT]
(
@ID INT,
@ENGNAME NVARCHAR(150),
@NEPNAME NVARCHAR(150),
@GROUPID INT,
@CODE NVARCHAR(50),
@COLOR BIGINT = 0,
@UNITID INT,
@SALESRATE DECIMAL(18,5),
@OPENINGQUANTITY DECIMAL(18,5)=0,
@PURCHASERATE DECIMAL(18,5),

@ISVATAPPLICABLE BIT,
@ISINVENTORYAPPLICABLE BIT,
@ISDECIMALAPPLICABLE BIT,
@ISACTIVE BIT,
@COMPANYID INT,
@REMARKS NVARCHAR(150)='',
@BACKCOLOR BIGINT=0,

 @PARENTPRODUCTID INT = NULL,
 @SIZE DECIMAL(18,5) = NULL,

-- AUDIT LOG START
@AUDITLOGCSV NVARCHAR(MAX) = NULL,
@IPADDRESS NVARCHAR(MAX) = NULL,
@MACADDRESS NVARCHAR(200) = NULL,
@COMPUTERNAME NVARCHAR(200) = NULL,
-- AUDIT LOG END

--FOR MORE DETAILS
@CONTACTPERSON NVARCHAR(200)='',
@ADDRESS1 NVARCHAR(200)='',
@ADDRESS2 NVARCHAR(200)='',
@CITY NVARCHAR(200)='',
@TELEPHONE NVARCHAR(200)='',
@EMAIL NVARCHAR(200)='',
@COMPANY NVARCHAR(200)='',
@WEBSITE NVARCHAR(200)='',
--FOR IMAGE
@IMAGE IMAGE=NULL,
--FOR OPENING QUANTITY
@ACCCLASSID INT=1,
@TAXID INT = NULL,

@USERID NVARCHAR(20),   --IF ITEM ADDED THEN CREATED_BY ELSE MODIFIED BY
@RETURN NVARCHAR(20)=0 OUTPUT
)
AS
BEGIN TRY
	DECLARE @RETURNVALUE INT =0;
		
	-- CHECK FOR DUPLICATE ENTRY
	IF EXISTS (SELECT 1 FROM PRODUCT WHERE ENGNAME=@ENGNAME AND ID<>@ID) 
		RAISERROR('STATUS 409: DUPLICATE PRODUCT NAME', 15,1)
	IF EXISTS (SELECT 1 FROM PRODUCT WHERE CODE=@CODE AND ID<>@ID) 
		RAISERROR('STATUS 409: DUPLICATE PRODUCT CODE', 15,1)
			
	--CHECK IF PROVIDED PRODUCT GROUP EXISTS 
	IF NOT EXISTS(SELECT 1 FROM PRODUCT_GROUP WHERE ID=@GROUPID)
		RAISERROR('STATUS 404: PROVIDED PRODUCT GROUP DOES NOT EXIST.',15,1)

		-- CHECK IF ID EXISTS FOR COMPANYID
	IF(@ID > 0)
	IF NOT EXISTS(SELECT 1 FROM PRODUCT WHERE ID=@ID) 
		RAISERROR('STATUS 404: PRODUCT DOES NOT EXIST!', 15,1);

	BEGIN TRANSACTION T

	IF (@ID<=0)  --ADD
		BEGIN
			--DECLARE @PRODUCTIDINSERTED INT;
			--REAL INSERT
			INSERT INTO PRODUCT(ENGNAME, NEPNAME, GROUPID, CODE, COLOR, BACKCOLOR, UNITID,
			 ISVATAPPLICABLE, ISINVENTORYAPPLICABLE,ISDECIMALAPPLICABLE, ISACTIVE, COMPANYID, REMARKS, CREATED_BY, CREATED_DATE,
			 [IMAGE], TAXID, SALESRATE, PURCHASERATE, OPENINGQUANTITY, EMAIL )
			VALUES (@ENGNAME, @NEPNAME, @GROUPID, @CODE, @COLOR, @BACKCOLOR, @UNITID, @ISVATAPPLICABLE, @ISINVENTORYAPPLICABLE,
			 @ISDECIMALAPPLICABLE, @ISACTIVE, @COMPANYID, @REMARKS, @USERID, GETDATE(),@IMAGE, @TAXID, @SALESRATE, @PURCHASERATE, @OPENINGQUANTITY, @EMAIL);

			--SET @PRODUCTIDINSERTED = SCOPE_IDENTITY();
			SET @RETURN=SCOPE_IDENTITY();
			
		END
	ELSE --MODIFY
		BEGIN
			

			--REAL UPDATE
			UPDATE PRODUCT SET ENGNAME=@ENGNAME, NEPNAME=@NEPNAME, GROUPID=@GROUPID, CODE=@CODE, COLOR=@COLOR, 
			BACKCOLOR=@BACKCOLOR, UNITID=@UNITID, ISVATAPPLICABLE=@ISVATAPPLICABLE,
			ISINVENTORYAPPLICABLE=@ISINVENTORYAPPLICABLE, ISDECIMALAPPLICABLE=@ISDECIMALAPPLICABLE, ISACTIVE=@ISACTIVE, 
			REMARKS=@REMARKS, MODIFIED_BY=@USERID, MODIFIED_DATE=GETDATE(),
			[IMAGE]=@IMAGE, TAXID =@TAXID,
			PURCHASERATE = @PURCHASERATE, SALESRATE= @SALESRATE, OPENINGQUANTITY = @OPENINGQUANTITY, EMAIL =@EMAIL
			 WHERE ID=@ID;

			SET @RETURN = @ID;

		
		END

COMMIT TRANSACTION T

END TRY

BEGIN CATCH
ROLLBACK TRANSACTION T
		DECLARE 
		@ERRORMESSAGE NVARCHAR(MAX), @ERRORSEVERITY INT, @ERRORSTATE INT;
	SELECT 
		@ERRORMESSAGE = ERROR_MESSAGE(), @ERRORSEVERITY = ERROR_SEVERITY(), @ERRORSTATE = ERROR_STATE();
	RAISERROR (@ERRORMESSAGE, @ERRORSEVERITY, @ERRORSTATE);
	SET @RETURN='FAILURE';
	RETURN -100
END CATCH
GO


ALTER PROCEDURE [dbo].[SP_PRODUCT_DELETE]
(
@ID INT
) AS

BEGIN
BEGIN TRY

	DELETE FROM PRODUCT WHERE ID= @ID 

END TRY
BEGIN CATCH
		DECLARE 
		@ERRORMESSAGE NVARCHAR(MAX), @ERRORSEVERITY INT, @ERRORSTATE INT;
	SELECT 
		@ERRORMESSAGE = ERROR_MESSAGE(), @ERRORSEVERITY = ERROR_SEVERITY(), @ERRORSTATE = ERROR_STATE();
	RAISERROR (@ERRORMESSAGE, @ERRORSEVERITY, @ERRORSTATE);
	RETURN -100
END CATCH
END
GO