
CREATE OR ALTER PROCEDURE [dbo].[INVENTORY_VALUATION_REPORT]
AS
BEGIN
	SELECT P.ID PRODUCTID, P.CODE PRODUCTCODE, P.ENGNAME PRODUCTNAME, COALESCE(QUANTITYSOLD, 0) QUANTITYOUT,  COALESCE(QUANTITYPURCH, 0) QUANTITYIN, 
	  (COALESCE(QUANTITYPURCH, 0) - COALESCE(QUANTITYSOLD, 0)) QTYONHAND, AVGSALESPRICE, 
	  (COALESCE(QUANTITYPURCH, 0) - COALESCE(QUANTITYSOLD, 0)) *AVGSALESPRICE TOTALINVVALUE  
		FROM
		(SELECT PRODUCTID, SUM(QUANTITY) QUANTITYSOLD, AVG(SALESRATE) AVGSALESPRICE 
		FROM SALES_INVOICE_DETAILS GROUP BY PRODUCTID ) SALES 
		INNER JOIN PRODUCT P ON SALES.PRODUCTID = P.ID
		LEFT JOIN
		(SELECT PRODUCTID, SUM(QUANTITY) QUANTITYPURCH, SUM(NET_AMOUNT) TOTALCOST
		FROM PURCHASE_INVOICE_DETAILS GROUP BY PRODUCTID ) PURCH ON PURCH.PRODUCTID = P.ID

END
GO

CREATE OR ALTER PROCEDURE [dbo].[GROSS_PROFITABILITY_REPORT]
AS
BEGIN
	--WAITFOR DELAY '00:00:59';

	SELECT P.PRODUCTID, P.PRODUCTCODE, P.ENGNAME PRODUCTNAME, COALESCE(QUANTITYSOLD, 0) QUANTITYSOLD,  COALESCE(QUANTITYPURCH, 0) QUANTITYPURCH, 
	COALESCE(TOTALREVENUE, 0) TOTALREVENUE,
	COALESCE(TOTALCOST,0) TOTALCOST, COALESCE(COALESCE(TOTALREVENUE,0) - COALESCE(TOTALCOST,0), 0) PROFIT, 
	(COALESCE(TOTALREVENUE,0) - COALESCE(TOTALCOST,0))/ COALESCE(TOTALREVENUE,0)*100 MARGIN  
		FROM
		(SELECT PRODUCTID, SUM(QUANTITY) QUANTITYSOLD, SUM(NET_AMOUNT) TOTALREVENUE 
		FROM SALES_INVOICE_DETAILS GROUP BY PRODUCTID ) SALES 
		INNER JOIN PRODUCT P ON SALES.PRODUCTID = P.PRODUCTID
		LEFT JOIN
		(SELECT PRODUCTID, SUM(QUANTITY) QUANTITYPURCH, SUM(NET_AMOUNT) TOTALCOST
		FROM PURCHASE_INVOICE_DETAILS GROUP BY PRODUCTID ) PURCH ON PURCH.PRODUCTID = P.PRODUCTID

END
GO