EXEC sp_rename 'dbo.[COMPOUND_UNIT].COMPOUNDUNITID', 'ID', 'COLUMN';
GO

ALTER PROCEDURE [dbo].[SP_GET_COMPOUND_UNIT]
@ID INT = 0
AS
BEGIN
	SELECT CU.ID, UNITID, CU.PARENTUNITID, U.[NAME] UNITNAME, PU.[NAME] PARENTUNITNAME, RELATIONVALUE, CU.REMARKS 
					FROM COMPOUND_UNIT CU 
                    INNER JOIN UNIT U ON CU.UNITID = U.ID 
					INNER JOIN UNIT PU ON CU.PARENTUNITID = PU.ID
					WHERE CU.ID = CASE WHEN @ID > 0 THEN @ID ELSE CU.ID END

END
GO


ALTER PROCEDURE [dbo].[SP_COMPOUND_UNIT_ADD_EDIT](
@ID INT=0,
@UNITID INT,
@PARENTUNITID INT,
@RELATIONVALUE DECIMAL(18,5),
@REMARKS NVARCHAR(150)='',

-- AUDIT LOG START
@AUDITLOGCSV NVARCHAR(MAX) = NULL,
@IPADDRESS NVARCHAR(MAX) = NULL,
@MACADDRESS NVARCHAR(200) = NULL,
@COMPUTERNAME NVARCHAR(200) = NULL,
-- AUDIT LOG END

@COMPANYID INT =1,
@USERID NVARCHAR(20)='ROOT',   --IF ITEM ADDED THEN CREATED_BY ELSE MODIFIED BY
@RETURN NVARCHAR(20) = 0 OUTPUT 
)
AS
BEGIN TRY
BEGIN TRANSACTION
	
	DECLARE @RETURNVALUE INT;

	-- CHECK FOR VALID COMPANY
	IF(@COMPANYID<=0)
		RAISERROR('STATUS 412: UNKNOWN COMPANY.', 15,1)	
	-- CHECK FOR DUPLICATE ENTRY
		IF EXISTS (SELECT * FROM COMPOUND_UNIT WHERE UNITID=@UNITID AND PARENTUNITID=@PARENTUNITID AND RELATIONVALUE=@RELATIONVALUE AND ID<>@ID AND COMPANYID= @COMPANYID)
			RAISERROR('STATUS 409: RECORD WITH THIS INFORMATION ALREADY EXISTS.', 15,1)


		IF NOT EXISTS ( SELECT * FROM UNIT WHERE ID = @UNITID AND COMPANYID = @COMPANYID)
			RAISERROR('STATUS 409: UNIT DOESNOT EXISTS.', 15,1)
	
		IF NOT EXISTS ( SELECT * FROM UNIT WHERE ID = @PARENTUNITID AND COMPANYID = @COMPANYID)
			RAISERROR('STATUS 409: PARENT UNIT DOESNOT EXISTS.', 15,1)

	IF (@ID<=0)  --ADD
		BEGIN			
		
			INSERT INTO COMPOUND_UNIT(UNITID, PARENTUNITID, RELATIONVALUE, REMARKS, COMPANYID, CREATEDBY, CREATEDDATE)
				VALUES(@UNITID, @PARENTUNITID, @RELATIONVALUE, @REMARKS, @COMPANYID, @USERID, GETDATE());
			SET @RETURN = SCOPE_IDENTITY();

		END
	ELSE --MODIFY
		BEGIN			
			-- CHECK IF ID EXISTS FOR COMPANYID
			IF NOT EXISTS(SELECT * FROM COMPOUND_UNIT WHERE ID=@ID AND COMPANYID=@COMPANYID) 
				RAISERROR('STATUS 404: COMPOUND UNIT DOES NOT EXIST!', 15,1);

			UPDATE COMPOUND_UNIT SET UNITID=@UNITID, PARENTUNITID=@PARENTUNITID, RELATIONVALUE=@RELATIONVALUE, REMARKS=@REMARKS, 
				MODIFIEDBY=@USERID, MODIFIEDDATE =GETDATE() WHERE ID=@ID;

			SET @RETURN = @ID;
		END

COMMIT TRANSACTION

END TRY

BEGIN CATCH
ROLLBACK TRANSACTION
	 DECLARE 
        @ERRORMESSAGE NVARCHAR(MAX), @ERRORSEVERITY INT, @ERRORSTATE INT;
	SELECT 
        @ERRORMESSAGE = ERROR_MESSAGE(), @ERRORSEVERITY = ERROR_SEVERITY(), @ERRORSTATE = ERROR_STATE();
    RAISERROR (@ERRORMESSAGE, @ERRORSEVERITY, @ERRORSTATE);
	SET @RETURN='FAILURE';
	RETURN -100
END CATCH
GO

CREATE OR ALTER PROCEDURE [dbo].[SP_COMPOUND_UNIT_DELETE]
(
@ID INT
) AS

BEGIN
BEGIN TRY

	DELETE FROM COMPOUND_UNIT WHERE ID= @ID 

END TRY
BEGIN CATCH
		DECLARE 
		@ERRORMESSAGE NVARCHAR(MAX), @ERRORSEVERITY INT, @ERRORSTATE INT;
	SELECT 
		@ERRORMESSAGE = ERROR_MESSAGE(), @ERRORSEVERITY = ERROR_SEVERITY(), @ERRORSTATE = ERROR_STATE();
	RAISERROR (@ERRORMESSAGE, @ERRORSEVERITY, @ERRORSTATE);
	RETURN -100
END CATCH
END

