EXEC sp_rename 'dbo.[PRODUCT_GROUP].GROUPID', 'ID', 'COLUMN';
EXEC sp_rename 'dbo.[PRODUCT_GROUP].PARENT_GRPID', 'PARENTGROUPID', 'COLUMN';

GO

ALTER PROCEDURE [dbo].[SP_GET_PRODUCT_GROUP]
@ID INT =0
AS
BEGIN
	SELECT G.ID, G.PARENTGROUPID, G.ENGNAME ENGNAME, G.NEPNAME, PG.ENGNAME PARENTGROUPNAME, G.LEVEL, G.REMARKS
                    FROM PRODUCT_GROUP G LEFT JOIN PRODUCT_GROUP PG ON PG.ID = G.PARENTGROUPID  
					WHERE G.ID =  CASE WHEN @ID > 0 THEN @ID ELSE G.ID END

END
GO

ALTER PROCEDURE [dbo].[SP_PRODUCT_GROUP_ADD_EDIT]
(
@ID INT,
@PARENTGROUPID INT,
@ENGNAME NVARCHAR(150)=NULL,
@NEPNAME NVARCHAR(150)=NULL,

@BACKCOLOR BIGINT=0,
@COMPANYID INT = 1,
@REMARKS NVARCHAR(150) = NULL,
-- AUDIT LOG START
@AUDITLOGCSV NVARCHAR(MAX) = NULL,
@IPADDRESS NVARCHAR(MAX) = NULL,
@MACADDRESS NVARCHAR(200) = NULL,
@COMPUTERNAME NVARCHAR(200) = NULL,
-- AUDIT LOG END
@USERID NVARCHAR(20)= 1,   --IF ITEM ADDED THEN CREATED_BY ELSE MODIFIED BY
@RETURN NVARCHAR(20) OUTPUT
)
AS
BEGIN
BEGIN TRY

	--CHECK IF THE COMPANYID IS PROVIDED
	IF(@COMPANYID<=0)
		RAISERROR('STATUS 412: UNKNOWN COMPANY.', 15,1)
	
		-- IF BUILTIN PRODUCT GROUP THEN DONOT ALLOW EDITING
	IF EXISTS(SELECT * FROM PRODUCT_GROUP WHERE ID = @ID AND BUILTIN =1 AND COMPANYID=@COMPANYID)		
		RAISERROR('STATUS 409: CANNOT EDIT BUILT IN PRODUCT GROUP.', 15,1);

	--CHECK FOR DUPLICATE ENTRY
	IF EXISTS (SELECT * FROM PRODUCT_GROUP WHERE ENGNAME=@ENGNAME AND ID<>@ID AND COMPANYID=@COMPANYID)
		RAISERROR('STATUS 409: DUPLICATE PRODUCT GROUP NAME.', 15,1)
	
		
	--CHECK IF PROVIDED PARENT GROUP EXISTS AND GET LEVEL FOR THE CURRENT RECORD
	DECLARE @PARENTGROUPEXISTS INT;
	DECLARE @LEVEL SMALLINT;
	SELECT @PARENTGROUPEXISTS=COALESCE(ID,0), @LEVEL=COALESCE(LEVEL,0) + 1 FROM PRODUCT_GROUP WHERE ID=@PARENTGROUPID
	IF (@PARENTGROUPEXISTS<=0) 
		RAISERROR('STATUS 404: PROVIDED PARENT GROUP DOES NOT EXIST.', 15, 1);

BEGIN TRANSACTION T

	IF (@ID<=0)  --ADD
		BEGIN		
			--REAL INSERT
			INSERT INTO PRODUCT_GROUP(PARENTGROUPID, [LEVEL], ENGNAME, NEPNAME,BACKCOLOR,COMPANYID, REMARKS, CREATED_BY, CREATED_DATE)
			VALUES (@PARENTGROUPID, @LEVEL, @ENGNAME, @NEPNAME, @BACKCOLOR, @COMPANYID, @REMARKS, @USERID, GETDATE());
			SET @RETURN=SCOPE_IDENTITY();

		END
	ELSE --MODIFY
		BEGIN
			-- CHECK IF ID EXISTS FOR COMPANYID
			IF NOT EXISTS(SELECT * FROM PRODUCT_GROUP WHERE ID=@ID AND COMPANYID=@COMPANYID) 
				RAISERROR('STATUS 404: PRODUCT GROUP DOES NOT EXIST!', 15,1);

			-- IF PARENT GROUP ID IS SAME AS THE ID
			IF(@PARENTGROUPID = @ID)		
				RAISERROR('STATUS 409: PARENT PRODUCT GROUP SELECTED CANNOT BE ITSELF.', 15,1);

			--REAL UPDATE
			UPDATE PRODUCT_GROUP SET PARENTGROUPID=@PARENTGROUPID, LEVEL=@LEVEL, ENGNAME=@ENGNAME, NEPNAME = @NEPNAME, BACKCOLOR=@BACKCOLOR,
			REMARKS=@REMARKS, MODIFIED_BY=@USERID, MODIFIED_DATE=GETDATE() WHERE ID=@ID AND COMPANYID=@COMPANYID;
			SET @RETURN= @ID;
		END

---- AUDIT LOG START

--	INSERT INTO TBLAUDITLOG(USERNAME, VOUCHER_TYPE, [ACTION], [DESCRIPTION], ROWID,VOUCHERDATE, IP_ADDRESS, MAC_ADDRESS, COMPUTERNAME, COMPANYID)
--						VALUES(@USERID, 'PRODUCTGROUP', 
--						CASE WHEN @RETURN = 'ADDED' THEN 'INSERT' ELSE 'UPDATE' END, 
--						@AUDITLOGCSV, @ID, GETDATE(), @IPADDRESS,  @MACADDRESS, @COMPUTERNAME, @COMPANYID);

-- AUDIT LOG END
COMMIT TRANSACTION T

END TRY

BEGIN CATCH
		ROLLBACK TRANSACTION T
		DECLARE 
		@ERRORMESSAGE NVARCHAR(MAX), @ERRORSEVERITY INT, @ERRORSTATE INT;
	SELECT 
		@ERRORMESSAGE = ERROR_MESSAGE(), @ERRORSEVERITY = ERROR_SEVERITY(), @ERRORSTATE = ERROR_STATE();
	RAISERROR (@ERRORMESSAGE, @ERRORSEVERITY, @ERRORSTATE);
	SET @RETURN='FAILURE';
	RETURN -100
END CATCH
END
GO
