
ALTER PROCEDURE [dbo].[DASHBOARD_SALES_PURCH_SUMMARY]
AS
BEGIN
	SELECT ISNULL(SALES.AMT, 0.00) SALES, ISNULL(PURCH.AMT, 0.00) PURCHASE, 
	ISNULL(SALES.MONTH, PURCH.MONTH) MONTH, ISNULL(SALES.YEAR, PURCH.YEAR) YEAR,
	CONCAT(ISNULL(SALES.MONTH, PURCH.MONTH), '/', ISNULL(SALES.YEAR, PURCH.YEAR)) DATE FROM
	(SELECT SUM(GROSSAMOUNT) AMT, YEAR([DATE]) AS YEAR,
		   MONTH([DATE]) AS MONTH 
	FROM SALES_INVOICE 
	GROUP BY YEAR([DATE]), MONTH([DATE]) 
	) AS SALES
	FULL OUTER JOIN
	(SELECT SUM(GROSSAMOUNT) AMT, YEAR([DATE]) AS YEAR,
		   MONTH([DATE]) AS MONTH 
	FROM SALES_INVOICE 
	GROUP BY YEAR([DATE]), MONTH([DATE]) 
	) AS PURCH
	ON SALES.YEAR = PURCH.YEAR AND SALES.MONTH = PURCH.MONTH
END

GO
ALTER      PROCEDURE [dbo].[SP_RECENT_TRANSACTION_SUMMARY]
AS
BEGIN
	SELECT TOP 5 CONVERT(DATE, [DATE], 111) [DATE], CONCAT('SOLD $', M.NETAMOUNT , ' WORTH OF PRODUCTS TO ', ENTITYNAME, ' - ', PRODUCTS ) DETAILS
                    FROM SALES_INVOICE M INNER JOIN (SELECT  SALESINVOICEID, STRING_AGG(ENGNAME, ', ') PRODUCTS
                    FROM SALES_INVOICE_DETAILS T INNER JOIN PRODUCT P ON T.PRODUCTID = P.ID GROUP BY SALESINVOICEID) DET ON M.ID = DET.SALESINVOICEID 
                    ORDER BY [DATE] DESC
END
GO

CREATE OR ALTER  PROCEDURE SP_GET_PRODUCT_DASHBOARD_SUMMARY
AS
BEGIN
	SELECT TOP 4 ENGNAME PRODUCTNAME, [IMAGE] IMAGEBYTE, [IMAGE], SALESRATE SALESPRICE  FROM PRODUCT WHERE IMAGE IS NOT NULL

END
GO
