EXEC sp_rename 'dbo.[SALES_INVOICE].SALESINVOICEID', 'ID', 'COLUMN';
EXEC sp_rename 'dbo.[SALES_INVOICE].SALESINVOICE_DATE', 'DATE', 'COLUMN';
EXEC sp_rename 'dbo.[SALES_INVOICE].GROSS_AMOUNT', 'GROSSAMOUNT', 'COLUMN';
EXEC sp_rename 'dbo.[SALES_INVOICE].NET_AMOUNT', 'NETAMOUNT', 'COLUMN';
EXEC sp_rename 'dbo.[SALES_INVOICE].TOTAL_AMOUNT', 'TOTALAMOUNT', 'COLUMN';

--- finish the sales invoice updates
EXEC sp_rename 'dbo.[SALES_INVOICE].TENDERAMT', 'TENDERAMOUNT', 'COLUMN';
EXEC sp_rename 'dbo.[SALES_INVOICE].CHANGEAMT', 'CHANGEAMOUNT', 'COLUMN';
EXEC sp_rename 'dbo.[SALES_INVOICE].ADJUSTMENTAMT', 'ADJUSTMENTAMOUNT', 'COLUMN';
EXEC sp_rename 'dbo.[SALES_INVOICE].VOUCHER_NO', 'VOUCHERNO', 'COLUMN';
EXEC sp_rename 'dbo.[SALES_INVOICE].CUSTOMERNAME', 'ENTITYNAME', 'COLUMN';
EXEC sp_rename 'dbo.[SALES_INVOICE].SALESINVOICEID', 'ID', 'COLUMN';
EXEC sp_rename 'dbo.[SALES_INVOICE_DETAILS].SALESINVOICE_DETAILID', 'ID', 'COLUMN';


ALTER PROCEDURE [dbo].[SP_GET_SALES_INVOICE]
@ID INT =0
AS
BEGIN
	SELECT * FROM SALES_INVOICE WHERE ID = CASE WHEN @ID > 0 THEN @ID ELSE ID END;
	IF(@ID > 0)
	BEGIN
		SELECT SD.*, P.CODE PRODUCTCODE, SD.SALESINVOICEID MASTERID, SD.SALESRATE , P.ENGNAME PRODUCTNAME, DISCPERCENTAGE DISCPERCENT, SD.NET_AMOUNT NETAMOUNT,  
		SD.SALESRATE PRICE, P.UNITID DEFAULTUNITID, U.[NAME] DEFAULTUNITNAME, U.SYMBOL DEFAULTUNITSYMBOL 
		FROM SALES_INVOICE_DETAILS SD 
		INNER JOIN PRODUCT P ON SD.PRODUCTID = P.ID 
		INNER JOIN UNIT U ON SD.QTYUNITID = U.ID  WHERE SALESINVOICEID = @ID
	END
END
GO

ALTER PROCEDURE [dbo].[SP_GET_MULTIPLE_UNIT_CONVERSION_RATES]
@UNITSCSV VARCHAR(MAX)
AS
BEGIN
	 DECLARE @UNITS TABLE (
        
        ID INT,
		[NAME] VARCHAR(200),
		DEFAULTUNITID INT,
        CONVERSIONRATE DECIMAL(18,5)
    );

DECLARE @IDS TABLE(ID INT);

INSERT INTO @IDS
SELECT 
    CAST([VALUE] AS INT) ID
FROM 
    STRING_SPLIT(@UNITSCSV, ',');
END

DECLARE @ID INT;
WHILE EXISTS(SELECT 1 FROM @IDS)
BEGIN
	SELECT @ID = ID FROM @IDS;

	INSERT INTO @UNITS EXEC [SP_GET_UNIT_CONVERSION_RATES] @ID, 1
	DELETE FROM @IDS WHERE ID = @ID
END

SELECT * FROM @UNITS
GO

ALTER PROCEDURE [dbo].[SP_NAVIGATE_SALES_INVOICE]
@PAGENO INT,
@ROWPERPAGE INT
AS
BEGIN

SELECT * FROM SALES_INVOICE ORDER BY ID OFFSET (@PAGENO -1)*@ROWPERPAGE ROWS FETCH NEXT @ROWPERPAGE ROWS ONLY;
                    SELECT COUNT('X') FROM SALES_INVOICE;
END
GO


ALTER PROC [dbo].[SP_SALES_INVOICE_DELETE]
(
@ID INT
) AS

BEGIN
BEGIN TRY
BEGIN TRANSACTION TSALES

-- add a few validations related to if paid vouchers can be deleted or not.. maybe add a setting related to it
DELETE FROM SALES_INVOICE_DETAILS WHERE SALESINVOICEID = @ID 

DELETE FROM SALES_INVOICE WHERE ID = @ID

COMMIT TRANSACTION TSALES
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION TSALES
		DECLARE 
		@ERRORMESSAGE NVARCHAR(MAX), @ERRORSEVERITY INT, @ERRORSTATE INT;
	SELECT 
		@ERRORMESSAGE = ERROR_MESSAGE(), @ERRORSEVERITY = ERROR_SEVERITY(), @ERRORSTATE = ERROR_STATE();
	RAISERROR (@ERRORMESSAGE, @ERRORSEVERITY, @ERRORSTATE);
	RETURN -100
END CATCH
END
go


ALTER PROC [dbo].[SP_SALES_INVOICE_ADD_EDIT]
(
@ID INT,
@VOUCHERNO NVARCHAR(30)=NULL,
@DATE DATETIME,
@REMARKS NVARCHAR(200) = NULL,
@NETAMOUNT MONEY,
@SPECIALDISCOUNT MONEY,
@TOTALAMOUNT MONEY,
@GROSSAMOUNT MONEY,
@TOTALQTY FLOAT,
@TOTALTCAMOUNT MONEY = NULL,

@TENDERAMOUNT MONEY=0,
@CHANGEAMOUNT MONEY=0,
@ADJUSTMENTAMOUNT MONEY=0,
@DETAILS NVARCHAR(MAX),--TBLSALESINVOICEDETAIL READONLY,
@ISPAY BIT =0, 
@ENTITYNAME NVARCHAR(50) = '',

@STATUS NVARCHAR(10), -- 'DRAFT' FOR DRAFT, 'UNPAID' FOR UNPAID, 'PAID' FOR PAID INVOICES
@AUDITLOGCSV NVARCHAR(MAX) = NULL,
@IPADDRESS NVARCHAR(MAX) = NULL,
@MACADDRESS NVARCHAR(200) = NULL,
@COMPUTERNAME NVARCHAR(200) = NULL,

@COMPANYID INT =1,
@USERID NVARCHAR(20) = '1',   --IF ITEM ADDED THEN CREATED_BY ELSE MODIFIED BY
--@NETDISCOUNT DECIMAL(18,5) = NULL,
@RETURN NVARCHAR(20)=0 OUTPUT
)
AS
BEGIN
BEGIN TRY
DECLARE @DOCHANDLE INT;
EXEC SP_XML_PREPAREDOCUMENT @DOCHANDLE OUTPUT, @DETAILS;

	--CHECK IF THE COMPANYID IS PROVIDED
	IF(@COMPANYID<=0)
		RAISERROR('STATUS 412: UNKNOWN COMPANY.', 15,1)

	--CHECK IF STATUS IS 'PAID', THEN DONOT ALLOW UPDATING VALUES
	IF(@ID >0)
	BEGIN
		IF EXISTS(SELECT * FROM SALES_INVOICE  WHERE ID = @ID AND COMPANYID = @COMPANYID AND [STATUS] = 'PAID')
			RAISERROR('STATUS 400: PAID INVOICE CANNOT BE UPDATED. PLEASE CONTACT YOUR ADMINISTRATOR!', 15,1);

		IF EXISTS(SELECT * FROM SALES_INVOICE  WHERE ID = @ID AND COMPANYID = @COMPANYID AND [STATUS] = 'UNPAID' AND @STATUS ='DRAFT' )
			RAISERROR('STATUS 400: THIS INVOICE HAS BEEN POSTED SO IT CANNOT BE CHANGED TO DRAFT. PLEASE CONTACT YOUR ADMINISTRATOR!', 15,1);

					-- CHECK IF ID EXISTS FOR COMPANYID
			IF NOT EXISTS(SELECT * FROM SALES_INVOICE WHERE ID = @ID AND COMPANYID=@COMPANYID) 
				RAISERROR('STATUS 404: SALES INVOICE DOES NOT EXIST!', 15,1);
	END

		DECLARE @TBLSALESINVOICEDETAIL TABLE(
			[PRODUCTCODE] [NVARCHAR](50),
			[PRODUCTID] [INT],
			[QUANTITY] [FLOAT],
			[SALESRATE] [MONEY],
			[AMOUNT] [MONEY],
			[DISCPERCENTAGE] [MONEY],
			[DISCOUNTAMOUNT] [MONEY],
			[NETAMOUNT] [MONEY],
			[QTYUNITID] [INT],
			[TAXID] [INT],
			[TAXAMOUNT] [MONEY],
			[GENERALNAME] [NVARCHAR](100),
			[REMARKS] [NVARCHAR](500),
			VATAMOUNT [MONEY]
		)

		-- INSERT INTO DETAILS TABLE
		INSERT INTO @TBLSALESINVOICEDETAIL(PRODUCTCODE, PRODUCTID, QUANTITY, SALESRATE, AMOUNT, DISCPERCENTAGE, DISCOUNTAMOUNT,
				NETAMOUNT, QTYUNITID, TAXID, TAXAMOUNT, GENERALNAME, REMARKS,VATAMOUNT)
			SELECT PRODUCTCODE, PRODUCTID, QUANTITY, PRICE, AMOUNT, DISCPERCENT, DISCOUNT,
				NETAMOUNT, QTYUNITID, TAXID, 
				CASE WHEN TAXID>0 THEN TAXAMOUNT ELSE 0 END, 
				GENERALNAME, REMARKS, VATAMOUNT
					FROM OPENXML( @DOCHANDLE, '/SALESINVOICEDETAILS/DETAILS', 2)   WITH 
					(PRODUCTCODE NVARCHAR(200), PRODUCTID INT, QUANTITY MONEY, PRICE MONEY,
					 AMOUNT MONEY, DISCPERCENT MONEY, DISCOUNT MONEY,
				NETAMOUNT MONEY, QTYUNITID INT,
				TAXID INT, TAXAMOUNT MONEY,
				GENERALNAME NVARCHAR(200), REMARKS NVARCHAR(200), VATAMOUNT MONEY);


	-- CHECK IF PRODUCTS EXIST IN GIVEN COMPANY
		IF EXISTS(SELECT * FROM @TBLSALESINVOICEDETAIL D WHERE PRODUCTID NOT IN(SELECT PRODUCTID FROM PRODUCT WHERE COMPANYID = @COMPANYID))
		RAISERROR('STATUS 400: PRODUCT(S) DONOT EXIST!', 15,1);
		--SELECT * FROM @TBLSALESINVOICEDETAIL;

		DECLARE @TTOTALGROSS MONEY, @TTOTALNET MONEY, @TTOTALDISC MONEY, @TTOTALQTY MONEY, @TTOTALTAX MONEY;

		--SELECT @TTOTALGROSS = SUM(AMOUNT), @TTOTALNET= SUM(NETAMOUNT), @TTOTALDISC = SUM(DISCOUNTAMOUNT),@TTOTALTAX = SUM(ROUND(TAXAMOUNT, 18,2)), @TTOTALQTY = SUM(QUANTITY) FROM @TBLSALESINVOICEDETAIL 

		--IF(@TTOTALGROSS <> @GROSSAMOUNT)
		--		RAISERROR('STATUS 400: GROSS AMOUNT CALCULATION IS NOT VALID!', 15,1);

		--IF(@TTOTALNET <> @NETAMOUNT)
		--		RAISERROR('STATUS 400: NET AMOUNT CALCULATION IS NOT VALID!', 15,1);

		--IF(@TTOTALQTY <> @TOTALQTY)
		--		RAISERROR('STATUS 400: TOTAL QUANTITY CALCULATION IS NOT VALID!', 15,1);

		--IF(@TTOTALDISC <> @SPECIALDISCOUNT)
		--		RAISERROR('STATUS 400: DISCOUNT AMOUNT CALCULATION IS NOT VALID!', 15,1);

		--IF(@TTOTALTAX <> @TOTALTCAMOUNT)
		--		RAISERROR('STATUS 400: TAX AMOUNT CALCULATION IS NOT VALID!', 15,1);

		--IF(@NETAMOUNT <>(@GROSSAMOUNT-@SPECIALDISCOUNT))
		--		RAISERROR('STATUS 400: NETAMOUNT MUST BE GROSSAMOUNT - SPECIALDISCOUNT!', 15,1);

		--IF(@TOTALAMOUNT <>(@NETAMOUNT+@TOTALTCAMOUNT))
		--		RAISERROR('STATUS 400: TOTALAMOUNT MUST BE NETAMOUNT + TAX AMOUNTS!', 15,1);

	DECLARE @TACCCLASSIDS TABLE (ACCCLASSID INT);

BEGIN TRANSACTION TSALES

		IF (@ID<=0)  --ADD
		BEGIN

			--REAL INSERT
		INSERT INTO SALES_INVOICE(VOUCHERNO,DATE,REMARKS,
					CREATED_BY,CREATED_DATE,NETAMOUNT,TOTALAMOUNT,GROSSAMOUNT,TOTALQTY,SPECIALDISCOUNT, TOTALTCAMOUNT, 
					TENDERAMOUNT, CHANGEAMOUNT,ADJUSTMENTAMOUNT,COMPANYID,[STATUS],ENTITYNAME)--,NETDISCOUNT) 
			VALUES(
				@VOUCHERNO,@DATE,@REMARKS,
				@USERID,GETDATE(),@NETAMOUNT,@TOTALAMOUNT,@GROSSAMOUNT,@TOTALQTY,@SPECIALDISCOUNT,
				@TOTALTCAMOUNT,@TENDERAMOUNT, @CHANGEAMOUNT,@ADJUSTMENTAMOUNT,@COMPANYID,@STATUS,@ENTITYNAME--,@NETDISCOUNT
			)


	SET @ID = SCOPE_IDENTITY();	
	SET @RETURN =@ID 

	END
	ELSE --MODIFY 
		BEGIN			
	
			--REAL UPDATE
		UPDATE SALES_INVOICE SET 
           
            VOUCHERNO=@VOUCHERNO ,
            DATE = @DATE,
			REMARKS=@REMARKS ,
			
			NETAMOUNT=@NETAMOUNT,
			TOTALAMOUNT=@TOTALAMOUNT,
			TOTALQTY=@TOTALQTY,
			GROSSAMOUNT=@GROSSAMOUNT,
			SPECIALDISCOUNT=@SPECIALDISCOUNT,
			MODIFIED_BY=@USERID,
			MODIFIED_DATE=GETDATE(),
			
			TOTALTCAMOUNT = @TOTALTCAMOUNT,
			TENDERAMOUNT =  @TENDERAMOUNT,
			CHANGEAMOUNT = @CHANGEAMOUNT,--,
			ADJUSTMENTAMOUNT = @ADJUSTMENTAMOUNT,
			[STATUS] = @STATUS,
			COMPANYID = @COMPANYID,
			ENTITYNAME = @ENTITYNAME
			--NETDISCOUNT = @NETDISCOUNT
	WHERE ID = @ID --AND COMPANYID = @COMPANYID;			


		DELETE FROM SALES_INVOICE_DETAILS WHERE ID = @ID;
		
	END

	INSERT INTO SALES_INVOICE_DETAILS(SALESINVOICEID,CODE, PRODUCTID, QUANTITY, SALESRATE, AMOUNT, DISCPERCENTAGE, DISCOUNT,
			NET_AMOUNT, QTYUNITID, TAXID, TAXAMOUNT, GENERALNAME, [DESCRIPTION],VATAMOUNT)
			SELECT @ID,PRODUCTCODE, PRODUCTID, QUANTITY, SALESRATE, AMOUNT, DISCPERCENTAGE, DISCOUNTAMOUNT,
			NETAMOUNT, QTYUNITID, TAXID, TAXAMOUNT, GENERALNAME, REMARKS, VATAMOUNT FROM @TBLSALESINVOICEDETAIL;


				SET @RETURN =@ID 


COMMIT TRANSACTION TSALES
EXEC SP_XML_REMOVEDOCUMENT @DOCHANDLE
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION TSALES
		DECLARE 
		@ERRORMESSAGE NVARCHAR(MAX), @ERRORSEVERITY INT, @ERRORSTATE INT;
	SELECT 
		@ERRORMESSAGE = ERROR_MESSAGE(), @ERRORSEVERITY = ERROR_SEVERITY(), @ERRORSTATE = ERROR_STATE();
	RAISERROR (@ERRORMESSAGE, @ERRORSEVERITY, @ERRORSTATE);
	SET @RETURN='FAILURE';
	RETURN -100
END CATCH
END

GO
