
CREATE OR ALTER PROCEDURE [INV].[GROSS_PROFITABILITY_REPORT]
AS
BEGIN
	SELECT P.PRODUCTID, P.PRODUCTCODE, P.ENGNAME PRODUCTNAME, COALESCE(QUANTITYSOLD, 0) QUANTITYSOLD,  COALESCE(QUANTITYPURCH, 0) QUANTITYPURCH, 
	COALESCE(TOTALREVENUE, 0) TOTALREVENUE,
	COALESCE(TOTALCOST,0) TOTALCOST, COALESCE(COALESCE(TOTALREVENUE,0) - COALESCE(TOTALCOST,0), 0) PROFIT, 
	(COALESCE(TOTALREVENUE,0) - COALESCE(TOTALCOST,0))/ COALESCE(TOTALREVENUE,0)*100 MARGIN  
		FROM
		(SELECT PRODUCTID, SUM(QUANTITY) QUANTITYSOLD, SUM(NET_AMOUNT) TOTALREVENUE 
		FROM TBLSALESINVOICEDETAILS GROUP BY PRODUCTID ) SALES 
		INNER JOIN TBLPRODUCT P ON SALES.PRODUCTID = P.PRODUCTID
		LEFT JOIN
		(SELECT PRODUCTID, SUM(QUANTITY) QUANTITYPURCH, SUM(NET_AMOUNT) TOTALCOST
		FROM TBLPURCHASEINVOICEDETAILS GROUP BY PRODUCTID ) PURCH ON PURCH.PRODUCTID = P.PRODUCTID

END
GO

EXEC [GROSS_PROFITABILITY_REPORT]

